<div>
    <div style="width:400px;margin:0 auto">
        <a href="{{homeUrl}}" target="_blank" style="font-size:40px; font-weight:bold; text-decoration:none; color:#000000;">
            윤우상<span style="font-weight: 200">블로그</span>
        </a>
        <div
            style="max-width:100%;width:400px;margin:0 auto;padding:1rem;text-align:justify;background:#f8f9fa;border:1px solid #dee2e6;box-sizing:border-box;border-radius:4px;color:#868e96;margin-top:0.5rem;box-sizing:border-box">
            <b>{{greeting}} </b>{{actionText}}을 계속하시려면 아래의 링크를 클릭해주세요. 만약 실수로 이 메시지를 받으셨거나, 본인이 요청하지 않았다면 무시하셔도 됩니다.
        </div>
        <a href="{{actionUrl}}"
            style="text-decoration:none;text-align:center;display:block;margin:0 auto;margin-top:1rem;background:#3b3b3b;padding-top:1rem;color:white;font-size:1.25rem;padding-bottom:1rem;font-weight:600;border-radius:4px"
            target="_blank">계속하기</a>
        <div style="text-align:center;margin-top:1rem;">
            <div style="color:#434343; font-size:0.85rem">위 버튼을 클릭하시거나, 다음 링크를 열어주세요</div> 
            </div>
                <a style="color:#2c2c2c; font-size:0.85rem" href="{{actionUrl}}" target="_blank">{{actionUrl}}</a>
            </div>
            <br>
            <div style="width:400px;margin:0 auto; text-align:center; color:#000000">이 링크는 24시간동안 유효합니다. </div>
        </div>
    </div>
</div>